$border-radius: 30px;
$pokedexAnimationConfig: 1s linear 2s forwards;

.pokedex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    > .pokedex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 800px;
        width: 460px;
        max-height: 100vh;
        max-width: 100vw;
        border-radius: $border-radius;
        position: relative;

        > .pokedex-top-section, > .pokedex-bottom-section {
            height: 25%;
            width: 100%;
            position: absolute;
            object-fit: contain;
            z-index: 1;
        }

        > .pokedex-top-section {
            object-position: bottom center;
            top: calc(25% - 2px);
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            animation: pokedexTopAnimation $pokedexAnimationConfig;
        }

        > .pokedex-bottom-section {
            object-position: top center;
            bottom: calc(25% - 2px);
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            animation: pokedexBottomAnimation $pokedexAnimationConfig;
        }

        > .pokedex-content {
            background: #B3E7F0;
            height: 4px;
            width: calc(100% - 28px);
            margin: 0 10px;
            outline: 1px solid black;
            border: 4px solid #8ac2d6;
            animation: pokedexContentAnimation $pokedexAnimationConfig;

            > .pokedex-page {
                margin: 0 0 calc(min(100vh, 800px) * 0.2) 0;
                opacity: 0;
                display: flex;
                flex-direction: column;
                min-height: 60%;
                animation: pokedexPageAnimation 1s linear 3s forwards;

                > .pokedex-app {
                    padding: calc(min(100vh, 800px) * 0.18) 20px 30px 20px;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    box-shadow: 0px 4px 4px 0px #00000021;
                    background-color: #ffffff5c;
                    overflow: hidden;
                    height: auto;
                    max-height: 500px;
                    transition: max-height 500ms ease;

                    &.closed {
                        max-height: 0;

                        > .pokedex-app-wrapper {
                            transition: opacity 0s ease 500ms;
                            opacity: 0;
                        }
                    }
                }

                >.news-app {
                    padding: 10px 20px 20px 20px;
                    max-height: calc(100% - calc(calc(min(100vh, 800px) * 0.18) * 1.9));
                    min-height: calc(100% - calc(calc(min(100vh, 800px) * 0.18) * 1.9));
                    overflow-y: auto;
                }
            }
        }
        
    }
}

@keyframes pokedexContentAnimation {
    from {
        height: 4px;
    }

    to {
        height: 100%;
    }
}

@keyframes pokedexPageAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes pokedexTopAnimation {
    from {
        top: calc(25% - 2px);
        left: 0;
    }

    to {
        top: -8%;
    }
}

@keyframes pokedexBottomAnimation {
    from {
        bottom: calc(25% - 2px);
        left: 0;
    }

    to {
        bottom: -8%;
    }
}